.registerImage {
  height: 100%;
  width: 50%;
  align-self: center;
  border-radius: 4px;
}

.snackError {
  background-color: rgb(230, 30, 30) !important;
}
.snackSuccess {
  background-color: rgb(0, 169, 0) !important;
}
.lazy-load-image-background{
  text-align: center;
}